 <!-- About Section -->
    <section class="special main" id="about">
        <span class="container my-0 p-0 image fit primary">
            <img class="lazy" src="/assets/img/home_abstract.png" data-src="/assets/img/beach_movie.gif">
        </span>
        <div class="container">
            <div class="content">
                <header class="major pb-5">
                    <h2>About</h2>
                </header>
                <div class="row mx-auto">
                    <div class="col-lg-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Malesuada fames ac turpis egestas integer eget aliquet. Risus
                            commodo viverra maecenas accumsan lacus vel facilisis. Suscipit adipiscing bibendum est
                            ultricies integer quis auctor elit sed.</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Dignissim sodales ut eu sem integer vitae justo eget. Sit amet consectetur
                            adipiscing elit pellentesque habitant morbi tristique senectus. Enim nunc faucibus a
                            pellentesque sit amet porttitor. Faucibus a pellentesque sit amet porttitor eget dolor morbi
                            non. Imperdiet proin fermentum leo vel orci porta.</p>
                    </div>
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <a href="/resume" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> View Resume
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
