 <!-- About Section -->
    <section class="special main" id="about">
        <span class="container my-0 p-0 image fit primary">
            <img class="lazy" src="/assets/img/home/home.png" data-src="/assets/img/home/about.png">
        </span>
        <div class="container">
            <div class="content">
                <header class="major pb-5">
                    <h2>About</h2>
                </header>
                <div class="row mx-auto">
                    <div class="offset-lg-1 col-lg-5">
                         <p>
                             After completing my undergrad degree in Industrial and Systems Engineering, I've had this
                             craving to make everything in my life as efficient as possible. Combining this with my love
                             of woodworking drove me to set up my own automated manufacturing process using tools like a
                             CNC Machine, Laser Cutter,and 3D Printer. A process where you utilize automation, woodworking,
                             engineering, and graphic design to go from concept to reality. While it takes a great deal
                             of time and practice, the end products are extremely rewarding.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <p>
                            My full-time position is as a Data Scientist, so I try to utilize these techniques for
                            problems ranging from finding a new apartment to mastering fantasy football. To continue
                            progressing in this domain, I’ll be completing my Master of Computer Science at Georgia Tech
                            through the OMSCS program. I intend to specialize in Machine Learning to grow my skills as a
                            Data Scientist, while enhancing my Computer Science fundamentals. I will focus on applications
                            in the fields of Computer Vision and Natural Language Processing.
                        </p>
                    </div>
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <a href="/resume" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> View Resume
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
