 <!-- About Section -->
    <section class="special main" id="about">
        <span class="container my-0 p-0 image fit primary">
            <img src="/assets/img/beach_abstract.png">
        </span>
        <div class="container">
            <div class="content">
                <header class="major pb-5">
                    <h2>About</h2>
                </header>
                <div class="row mx-auto">
                    <div class="offset-lg-1 col-lg-5">
                         <p>
                            My passion for learning extends beyond work, where in my free time I enjoy combining automation, woodworking,
                            and art into projects of my own. I often spend time researching and
                            developing new skills that add to my knowledge of data science techniques and state of the art new
                            developments. These skills come in most handy when the stakes are high. Like attempting to master the art of
                            fantasy football against friends.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <p>
                            I'm completing my Master of Computer Science at Georgia Tech through the OMSCS program while
                            working full-time as a Data Scientist. Starting in Spring 2020, I intend to specialize in
                            Machine Learning to grow my skills as a data scientist, while enhancing my Computer Science
                            fundamentals. I will be focusing on applications in the fields of Computer Vision and
                            Natural Language Processing.
                        </p>
                    </div>
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <a href="/resume" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> View Resume
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
