    <!-- Header -->
	<section id="header">
		<header class="major">
			<div style="position: absolute; left: 50%; transform: translate(-50%, -125%);">
				<div class="text-center mx-auto">
					<h1 class="mb-3" style="font-size: 3.25em">{{ page.headerText }}</h1>
					<!--<p style="font-size: 1.1em">{{ page.headerTag }}</p>-->
				</div>
			</div>
		</header>

		<!--
			<div style="height: 100vh; width: 100vw;">
				<img class="img-responsive mx-auto d-block m-0 p-0" style="object-fit: cover; position: fixed; left: 0; top: 0; overflow: hidden;" src="/assets/img/home_abstract.png" height=100% width=100% alt="">
				<div class="w-50" style="position: absolute; width: 40%; left: 50%; top: 30%; transform: translate(-50%, -50%);">
					<div class="text-center mx-auto">

					</div>
				</div>
			</div>
		-->
<!--
		<div class="container">
			<ul class="actions">
				<li><a href="#portfolio" class="button special scrolly">Begin</a></li>
			</ul>
		</div>
-->
	</section>
	<section class="main" style="position: absolute; bottom: 0; width: 100%">
		<div class="container begin py-3" style="text-align: center; min-height: 0vh !important; border-radius: 10em 10em 0 0;">
			<ul class="actions m-0">
				<li><a href="#about" class="button special scrolly">Begin</a></li>
			</ul>
		</div>
	</section>
<!--
<video class="img-responsive mx-auto d-block m-0 p-0" style="object-fit: cover; object-position: 25% 75%; position: fixed; left: 0; top: 0; overflow: hidden;"
	   height=100% width=100% preload="metadata" autoplay loop poster="/assets/img/home.png">
	<source src="/assets/img/beach_time_lapse.mp4">
	<source src="/assets/img/beach_time_lapse.mov">
</video>
-->