   <!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light px-4" style="position: absolute; top: 0; left:0; right: 0; z-index: 999; width: 100%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			  <a class="nav-link" href="/#about">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/#portfolio">Portfolio</a>
		</li>
        <li class="nav-item">
			<a class="nav-link" href="/#contact">Contact</a>
		</li>
      </ul>
    </div>

    <div class="logo">
		<a class="float-right" href="/">
			<img src="/assets/img/danslo logo 2.svg" />
			<!--
			<h5 class="m-0" style="color: rgb(50,100,155); font-size: 1.7em" >
				Danny Slocum
			</h5>
			-->
		</a>
    </div>
</nav>