<!-- Portfolio Grid Section -->
<section id="portfolio" class="main special">
	<span class="container my-0 p-0 image fit primary">
		<img class="lazy" src="/assets/img/home/home.png" data-src="/assets/img/home/portfolio.png">
	</span>
	<div class="container">
		<div class="content">
			<header class="major pb-5">
				<h2>Portfolio</h2>
			</header>
			<div class="row">
				<div class="mb-3 col-md-6 col-lg-4 card-content">
					<div class="card-img">
						<a href="/posts#Data%20Science">
							<img class="lazy" src="/assets/img/placeholder.png" data-src="/assets/img/home/data_science.gif">
						</a>
						<div class="bg-white" style="margin-top: -40px;">
							<i style="border: 10px solid white; border-radius:100%; background: white; width: 100px;" class="fa-4x fa fa-code-fork"></i>
						</div>
					</div>
					<div class="card-desc">
						<h3>Data Science</h3>
						<p>
							I'm interested in all things data science. From Natural Language Processing, to
							Convolutional Neural Networks, to Automating fantasy football teams. I'll add new
							content here as I continue to work on these projects.
						</p>
						<br>
						<a href="/posts#Data%20Science" class="btn-card btn-primary">Read</a>
					</div>
				</div>
				<div class="mb-3 col-md-6 col-lg-4 card-content">
					<div class="card-img">
						<a href="/posts#Builds">
							<img class="lazy" src="/assets/img/placeholder.png" data-src="/assets/img/home/builds.gif">
						</a>
						<div class="bg-white" style="margin-top: -40px;">
							<i style="border: 10px solid white; border-radius:100%; background: white" class="fa-4x fa fa-cubes"></i>
						</div>
					</div>
					<div class="card-desc">
						<h3>Builds</h3>
						<p>
							When not programming at work or on home projects, I can often be found in my workshop.
							I'll utilize traditional woodworking tools as well as my self-built CNC machine,
							self-built 3D printer, and laser cutter. Check out some of the builds!
						</p>
						<a href="/posts#Builds" class="btn-card btn-primary">Read</a>
					</div>
				</div>
				<div class="mb-3 col-md-6 offset-md-3 offset-lg-0 col-lg-4 card-content">
					<div class="card-img">
						<a href="/posts#Visualizations">
							<img class="lazy" src="/assets/img/placeholder.png" data-src="/assets/img/home/visualizations.gif">
						</a>
						<div class="bg-white" style="margin-top: -40px;">
							<i style="border: 10px solid white; border-radius:100%; background: white" class="fa-4x fa fa-tachometer"></i>
						</div>
					</div>
					<div class="card-desc">
						<h3>Visualizations</h3>
						<p>
							Wrapping data exploration and final projects into interactive visuals has many benefits.
							The D3 library for building visualizations is one of the best web-based, customizable
							tools. Here you will find instructional content as well as open source examples.
						</p>
						<a href="/posts#Visualizations" class="btn-card btn-primary">Read</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>