<!-- Posts Grid Section -->
<section id="posts" class="main special bg-white">
	<span class="container my-0 p-0 image fit primary">
		<img class="lazy" src="/assets/img/home/home.png" data-src="/assets/img/home/portfolio.png">
	</span>
	<div class="container">
		<div class="pt-5 content">
			<header class="major pb-2">
				<h2>Posts</h2>
			</header>
			{% for category in site.categories %}
			<div id="{{ category[0] }}" class="mt-5 row">
				<h3 class="mx-auto">{{ category[0] }}</h3>
			</div>
			<div class="row">
    			{% for post in category[1] %}
					<div class="col-sm-6 col-lg-4 portfolio-item">
						<a href="{{ post.url }}" class="portfolio-link">
							<div class="caption" style="background: rgba({{ site.color.secondary-rgb }},.8);">
								<div class="caption-content">
									<i class="fa fa-search-plus fa-3x"></i>
									<h6>{{ post.caption }}</h6>
								</div>
							</div>
							<img class="lazy" src="/assets/img/placeholder.png" data-src="/assets/img/posts/{{ post.img }}" alt="{{ post.caption }}">
							<h3 class="adjustableFont text-center" style="background: rgba({{ site.color.secondary-rgb }}, 0.8)">{{ post.title }}</h3>
						</a>
					</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>